{% extends "index.html" %}
{% block content %}
<section>
    <div class="container">
        <h4 class="topic">List of Digital Badges</h4>
    </div>
    <br>
    <div class="container">
        <table class="list-table">
            <tr>
                <th class="first" width="65%">Badge Name</th>
                <th class="first" width="35%">Action</th>
            </tr>
            {% for i in badges %}
            <tr>
                <td class="first">{{i.Name}}</td>
                <td class="first">
                    <button class="list-buttons" id="{{i.id}}" onclick="view_badge(this.id)">View</button>

                    <button class="list-buttons" id="{{i.id}}" onclick="update_badge(this.id)">Edit</button></a>

                    <a href="delete/{{ i.id }}/"><button class="list-buttons">Delete</button></a>

                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="edit-popup">
        <div class="edit-popup-bg"></div>
        <form class="edit-form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h5 class="topic">Update Badge</h5>
            <input type="text" id="badge_id" name="badge_id" hidden>
            <div class="row my-3">
                <div class="col-md-3">
                    <label for="group">Badge Name<span style="color:red">*</span></label>
                </div>
                <div class="col-md-9">
                    <input type="text" id="Name" name="Name" required>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-md-3">
                    <label for="group">Badge Description<span style="color:red">*</span></label>
                </div>
                <div class="col-md-9">
                    <textarea id="Description" name="Description" required></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label for="group">Upload Badge<span style="color:red">*</span></label>
                </div>
                <div class="col-md-9">
                    <label for="file" class="replace_button">Replace File</label><span id="fileDetails"></span>
                    <input type="file" id="file" name="file" accept=".png" hidden>
                    <br><img id="img" src="" width="100px" height="100px" style="margin:10px" alt="Badge Image">
                </div>
            </div>
            <div class="row my-3">
                <div class="col-md-3">
                    <label for="group">Eligible Students<span style="color:red">*</span></label>
                </div>
                <div class="col-md-9">
                    <input type="text" id="students" name="students" required>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-md-12">
                    <button>Update</button>
                </div>
            </div>
            <p class="close-icon">&times;</p>
        </form>
    </div>

    <div class="view-popup">
        <div class="view-popup-bg"></div>
        <div class="container view">
            <div id="badge_details"></div>
            <p class="close-icon">&times;</p>
        </div>
    </div>
    
</section>
<script src="/static/assets/js/script.js"></script>
{% endblock %}